.navbar {
  padding-top: 0;
  background: #fff;
  max-width: 1330px;
  margin: 0 auto;
  margin-bottom: 20px;

  .nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover,
      &:focus,
      &:focus-visible,
      &:active {
        color: #1677ff;
        text-decoration: underline;
      }
    }

    button {
      border: none;
    }
  }

  .navLogin {
    display: flex;
    justify-content: end;
  }
}

@media only screen and (max-width: 991px) {
  .nav {
    justify-content: center;
    display: grid;

    a {
      text-align: center;
    }

    & > div {
      display: contents !important;
    }
  }
}
