@import "../../../../public/styles/variables";

.flagImage {
  width: 25px;
}

.navbar {
  background: $white;
  max-width: 1330px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px;

  .logo {
    max-width: 160px;
  }

  .nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
    }

    a {
      color: $black;
      text-decoration: none;

      &:hover,
      &:focus,
      &:focus-visible,
      &:active {
        color: $blue;
        text-decoration: underline;
      }
    }

    button {
      border: none;
    }
  }

  .navLogin {
    display: flex;
    justify-content: flex-end;
  }
}

@keyframes putDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.xmasHat {
  margin-left: -40px;
  margin-top: -9px;
  animation: putDown 1.5s ease;
  width: 36px;
}

@media only screen and (max-width: 991px) {
  .nav {
    justify-content: center;
    display: grid;

    a {
      text-align: center;
      border: 1px solid $blue;
      padding: 10px 20px;
      width: 100%;
      margin-top: 5px;

      &:hover {
        color: $white !important;
        background: $blue;
      }
    }

    & > div {
      display: contents !important;
    }
  }
}
