.container {
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .home {
    background-image: url(../../../public/images/home/big.png);
    height: 720px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;

    div {
      font-family: "Rubik", Helvetica, Arial, Lucida, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: #ffffff;
      letter-spacing: 3px;
      padding: 20px;
    }
  }

  h1 {
    margin-top: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    .services {
      justify-content: center;
      padding: 0 10px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1399px) {
  .container {
    .home {
      // display: flex;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .services {
      display: block;
    }

    .home {
      max-height: 290px;
      background-size: contain;

      div {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    .home {
      max-height: 200px;
    }
  }
}
