.contentStyle {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  button {
    border-radius: 160% !important;
    height: 20px !important;
    width: 20px !important;
  }

  button:not(:global(.slick-active)) {
    background: #3f8be7 !important;
  }

  :global(.slick-dots-bottom) {
    bottom: -5px;
  }

  :global(.slick-track) {
    display: flex;
    align-items: center;
  }
}
