.table {
  overflow-x: auto;

  table {
    td, th {
      text-align: center !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    justify-content: center !important;
    column-gap: 10px;
  }
}